@import url('https://fonts.googleapis.com/css?family=Bad+Script');

body{
margin: 0;
padding: 0;

background:#232b2b;
}
a
{
position: absolute;
top: 5%;
left: 80%;
transform : translate(-50%,-50%);
width: 150px;
height: 60px;
text-align: center;
line-height: 60px;
color: #fff;
font-size: 24px;
text-transform: uppercase;
text-decoration: none;
font-family: sans-serif;
box-sizing: border-box;
background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
background-size: 400%;
border-radius: 30px;
z-index: 1;
}

a:hover{
animation : animate 8s linear infinite;
}
@keyframes animate
{
0%
{
background-position: 0%;
}
100%
{
background-position: 400%;
}
}

a:before{
content: '';
position: absolute;
top: -5px;
left: -5px;
right: -5px;
bottom:-5px;
z-index: -1;
background: linear-gradient(90deg,#03a9f4,#ff41a5,#ffeb3b,#03a9f4);
background-size: 400%;
border-radius: 40px;
opacity: 0;
transition: 0.5s;
}
a:hover:before{
filter: blur(20px);
opacity: 1;
animation : animate 8s linear infinite;
}

    .large-header {
    position: relative;
    width: 100%;
height: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: 1;
 }
 

.demo .large-header {
 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}
 
.main-title {
    position : absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    	text-align: center;
top: 50%;
    left:50%;
 -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);


 }
.demo .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
 }

 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }

