@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
margin:0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}
body
{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background: #0a2a43;
min-height: 1500px;
}
section{
position: relative;
width:100%;
height: 100vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}
section:before{
content: '';
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background: linear-gradient(to top,#0a2a43,transparent);
z-index: 10000;
}
section:after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #0a2a43;
z-index: 10000;
mix-blend-mode: color;
}
section img
{
position: absolute;
top: 0;
left:0;
width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;
}
#text
{
position: relative;
color: #fff;
font-size:10em;
z-index: 1;
}
#road
{ z-index: 2;
}
.box
{
position : relative;
width: 250px;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
margin: 40px;
background: #060c21;
transition: 0.5s;
}
.box:hover{
height: 400px;
}
.box .imgBx{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 10px;
box-sizing: border-box;
}
.box .imgBx img
{
max-width: 100%;
opacity: 0.1;
transition : 0.5s;
}
.box:hover .imgBx img
{
opacity: 1;
}
.box:before{
content: '';
position: absolute;
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
background: #fff;
z-index: -1;
}
.box:after{
content: '';
position: absolute;
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
background: #fff;
z-index: -2;
filter: blur(40px);
}
.box:before,
.box:after
{
background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}
.box:nth-child(2):before,
.box:nth-child(2):after
{
background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(3):before,
.box:nth-child(3):after
{
background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}
.box:nth-child(4):before,
.box:nth-child(4):after
{
background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}

.box .content
{
position: absolute;
bottom: 0;
left:10px;
right: 10px;
bottom: 10px;
height: 90px;
background: rgba(0,0,0,0.4);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
opacity: 0;
transition: 0.5s;
}
.box:hover .content
{
opacity: 1;
}
.box .content h2
{
font-size: 20px;
color: #fff;
font-weight: 500;
line-height: 20px;
letter-spacing: 1px;
}
.box .content h2 span
{
font-size: 14px;
color: #fff;
font-weight: 200;
letter-spacing: 2px;
}



