
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{margin:0px;
padding: 0;
text-decoration: none;

}
.sidebar{
position: fixed;
left: -240px;
width: 240px;
height: 100%;
background:BLACK;
transition: all .5s ease;
margin-top: 0px;

}
.heading
{   font-size: 400%;
    position:fixed;
    left:35%;
    top:50px;
    font-style: inherit;
}
.logo
{   position:fixed;
    top: 0.1px;
    right:0.1px;
}

.sidebar a{
    display:block;
    color:white;
    height: 65px;
    width:100%;

    line-height:65px;
    padding-left:30px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-top: 1px solid black;
    border-left: 5px solid transparent;
    box-sizing:border-box;
    transition: all .5s ease;
    font-family: 'open sans',sans-serif;
}
a:hover, a.active
{
    border-left:5px solid white;
    color:lightsalmon;
   
}
.sidebar a i{
font-size: 23px;
margin-right: 16px;


}
.sidebar a span{
letter-spacing: 1px;
text-transform: uppercase;

}
#check {
    display: none;
}
label #btn, label #cancel
{

    position: fixed;
    cursor: pointer;
    background: black;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    color: white;
    border-radius: 5px;
    margin: 15px 30px;
    margin-top: 5px;
    border: 1px solid #00CED1;
    transition: all .5s ease;

}
label #cancel
{
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #btn{
    margin-left: 245px;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel{
    margin-left: 245px;
    margin-top: 10px;
    opacity: 1;
    visibility: visible;
    
}
#check:checked ~ .sidebar{
    left: 0;
    margin-top: 10px;
}
@media (max-width:860px){
    .sidebar{

        height: auto;
        width:70px;
        left:0;
        margin: 100px 0;
        margin-top: 15px;
    }
     #btn,#cancel{
        display: none;
    }
    span{
position: absolute;
margin-left: 23px;
opacity: 0;
visibility: hidden;


    }
    .sidebar a i{
        margin-left: -10px;
    }
    a:hover{
        width:200px;
background: inherit;
    }
    .sidebar a:hover span{
        opacity:1 ;
        visibility: visible;
    }
   

    
        
}



















body{
    font-family: arial;
    margin: 0;
    padding: 20px;
    background-color: azure;
    }


*{
    box-sizing: border-box;
}


.row:after{
    content: '';
    display: table;
    clear: both;
}
header{
    background-color: bisque;
    padding: 20px;
}


header h1{
    text-align: center;
    font-size: 60px;
    color: #000000;
    margin: 1.5 0px;
}

h2{
    color: #000000;
    margin: 1.5 0px;
}

.left-column{
    float: left;
    width: 68%;
    padding-left: 300px
}

.right-column{
    float: right;
    width: 32%;
    padding-left: 20px;
    
}

.card{
    padding: 20px;
    background-color:bisque;
    margin-top: 20px;
  
}

card img{
    width: 25%;
    }

.right-column .card img{
    margin-bottom: 10px;
    width: 100%;
    
    }

footer{
    background-color:darkorchid;
    padding: 30px;
    text-align: center;
    font-family: arial;
    font-size: 200%;
    margin-top: 20px;
}

/*responsive*/

@media(max-width:800px){
    .left-column, .right-column{
         width: 100%;
        padding: 0px;
        
    }
}


@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}


























body {
  background-color:white;
  
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}






#cf {
  position:relative;
  height:281px;
  width:400px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
  @keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf3 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}




































